include LICENSE
include README.md
include pyproject.toml
include setup.cfg
recursive-include yt_dlp_plugins *.py
prune build
prune dist
prune venv
prune .venv
prune .idea
prune pimpbunny2_files
prune TransHub*_files
global-exclude __pycache__
global-exclude *.py[cod]
exclude pimpbunny.html
exclude TransHub*.html
